<!DOCTYPE html>
<html lang="en">
<head>
<% include ../views/partials/_header %>
</head>
<body>

<h2>URL Shortener</h2>


   <ul>
 <% for (key in urls){ %>
    <li> <form method="POST" action="/urls/<%=key%>/delete">

    <p><%= key %> --> <%=urls[key]%>
    <a href=<%=urls[key]%>> </a>

    <button name = "delete" type="submit">Delete!</button></p></form>
    <% }%></li>
</ul>



<a href="/urls/<%=key%>">Edit</a>


</body>
</html>